.background {
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #333;
}

.content {
  padding-top: 1em;
  padding-left: 8em;
  padding-right: 8em;
  margin-top: 80px;
}

.text-muted {
  font-size: 1rem;
}

.modal-body {
  font-size: 1.1rem;
}
