{% extends 'base.html' %} 
{% load static %} 

{% block meta %}
<title>{{ quiz.name }}</title>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/quizes/quiz.css' %}" />
<script type="text/javascript" src="{% static 'js/quizes/quiz.js'%}"></script>
{% endblock %} 

{% block navbar %} 
  {% with variant='dark' %} 
    {{ block.super }} 
  {% endwith %} 
{% endblock navbar %} 

{% block content %}
<div class="text-start">
  <div class="content">
    <div class="row">
      <div class="text-start" style="width: 85%">
        <p class="title"><b>{{ quiz.name }}</b></p>
      </div>
      <div class="text-end" style="width: 15%; font-size: 1.5rem">
        <p id="timer">countdown</p>
      </div>
    </div>

    <hr>

    <form id="quiz-form" class="mt-3 mb-3">
      {% csrf_token %}
      <div id="quiz-box"></div>
      <button type="submit" class="btn btn-primary mt-3">save</button>
    </form>

    <div class="result">
      <p id="score-to-pass" class="info d-none">
        Score to pass: {{ quiz.required_score_to_pass }}
      </p>
      <div id="score-box" class="info"></div>
      <div id="result-box"></div>
    </div>
  </div>
</div>
{% endblock %}
