<!-- Carousel -->
<div
  id="mainCarousel"
  class="carousel carousel-light slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner shadow">
    <div
      class="carousel-item active"
      data-bs-interval="5000"
    >
      <img
        src="https://images.unsplash.com/photo-1607077644571-11791eec3c34?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
        class="d-block w-100 rounded-bottom"
        height="450"
        alt="Slide1"
      />
      <div class="carousel-caption">
        <div class="card">
          <h2 class="text-black">COVID-19 TIPS AND TRICKS</h2>
        </div>
      </div>
    </div>
    <div
      class="carousel-item"
      data-bs-interval="5000"
    >
      <img
        src="https://images.unsplash.com/photo-1584466990376-09422a2b033a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="d-block w-100 rounded-bottom"
        height="450"
        alt="Slide2"
      />
      <div class="carousel-caption">
        <div class="card">
          <h3 class="text-light">Prevent COVID-19 and help end the pandemic</h3>
          <p class="text-black">Wear a mask</p>
          <p class="text-black">Wash your hands</p>
          <p class="text-black">Maintain safe distance & limit mobility</p>
          <p class="text-black">Get vaccinated</p>
        </div>
      </div>
    </div>
    <div
      class="carousel-item"
      data-bs-interval="5000"
    >
      <img
        src="https://cdn.pixabay.com/photo/2021/01/19/17/59/mask-5932015_1280.png"
        class="d-block w-100 rounded-bottom"
        height="450"
        alt="Slide3"
      />
      <div class="carousel-caption">
        <div class="card">
          <h3 class="text-dark">Let's come through this COVID-19 pandemic together</h3>
          <p class="text-dark">Be SAFE from coronavirus infection</p>
          <p class="text-dark">Be SMART & inform yourself about it</p>
          <p class="text-dark">Be KIND & support each other</p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#mainCarousel"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#mainCarousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- End Carousel -->