{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Temenin Isoman</title>

    <!--Modal scripts-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!--local css and js scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block navbar %}
    {% with variant='dark' %}
        {{block.super}}
    {% endwith %}
{% endblock navbar %}

{% block content %}

<div class="modal fade" id="editDaerahModal" tabindex="-1" role="dialog" aria-labelledby="editDaerahModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-daerah">Modal RS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-daerah" action="" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <div class="input-group input-group-outline my-3">
                            <input id="input-daerah" name="daerah" type="text" class="form-control"
                                placeholder="Nama Kota">
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <a id="hapus-daerah" class="btn bg-gradient-secondary">Hapus</a>
                        <button id="btnEditRs" href="#" type="submit" class="btn bg-gradient-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-7 container" style="margin: auto">
    <div class="col-12">
        <a class="btn btn-primary" style="margin-left: -30px;" href="/emergency-contact">Kembali</a>
    </div>
    <div class="col-12">
        <h1 class="text-dark text-center">Emergency Contacts</h1>
    </div>
</div>
<div class="row container" style="margin: auto;">
    <div class="col-12 col-lg-4 justify-content-center mt-5" style="margin: auto">
        <h4>Kota yang sudah ada</h4>
        <ul>
            {% for daerah in list_daerah %}
            <li value="{{daerah.id}}">{{daerah.daerah}}<a data-bs-toggle="modal" data-bs-target="#editDaerahModal"
                    onclick="editDaerah({{daerah.id}}, '{{daerah.daerah}}')" href="#"><i
                        style="font-size: 12px;margin-left: 30px;" class="fas fa-pencil-alt"></i></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-lg-4 justify-content-center mt-5" style="margin: auto">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="input-group input-group-outline my-3">
                    <label for="daerah" class="form-label">Kota Baru</label>
                    <input name="daerah" type="text" class="form-control">
                </div>
                <input type="submit" class="btn bg-gradient-primary" value="Submit" required>
            </fieldset>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-white" id="message" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    setTimeout(() => {
        if ($('#message').length > 0) {
            $('#message').remove();
        }
    }, 2000);
</script>

{% endblock content %}