/*CLASS*/
.form-element {
  border: 1px solid #ababab;
}

.btn-container {
  margin-left: auto;
  margin-right: 0;
}

.data-container {
  height: 35px;
}

.main-header {
  background-color: #212027;
}

.nav-btn {
  background-color: #212027;
  color: #e0e0e4;
}

.nav-btn:hover {
  background-color: #f3c83d;
}

.rs-data {
  padding-top: 10px;
  padding-bottom: 10px;
}

.rs-data:hover {
  background-color: #f7f7f7;
  border-radius: 10px;
}

.requester-data {
  padding: 1rem;
}

.requester-data:hover {
  background-color: #f7f7f7;
}
