{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Temenin Isoman</title>
{% endblock meta %}

{% block navbar %}
  {% with variant='light' %}
    {{ block.super }}
  {% endwith %}
{% endblock navbar %}

{% block content %}
<!-- -------- HEADER --------->
<header class="bg-gradient-dark">
  <div
    class="page-header min-vh-75"
    style="background-image: url('https://images.unsplash.com/photo-1597062323690-ad8c06a6f8f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80');"
  >
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto mt-5">
          <h1 class="text-white">About Us</h1>
          <p class="lead mb-4 text-white opacity-8">Meet the entire team behind TemeninIsoman😷</p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- -------- END HEADER --------->

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <section class="pb-5 position-relative">
    <div class="container">
      <h1 class="mx-3 mb-5"> PBP A06 </h1>
      <div class="row">
        <div class="col-lg-6 col-12 mt-lg-4 mt-2 z-index-2">
          <div class="card card-profile">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a href="https://csui2020.github.io/static/img/buku_angkatan/ES14.jpg">
                  <div class="p-3 pe-md-0">
                    <img
                      class="w-100 border-radius-md shadow-lg"
                      src="https://csui2020.github.io/static/img/buku_angkatan/ES14.jpg"
                      alt="image"
                    >
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0">Dinda Adriani Siregar</h5>
                  <a href="https://github.com/dindasrg/temenin-isoman">
                    <h6 class="text-info">Developer
                      <i class="fab fa-github opacity-8 fa-lg"></i>
                    </h6>
                  </a>
                  <p class="mb-0">Creator of Happy Notes Module</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-lg-4 mt-2 z-index-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a href="https://csui2020.github.io/static/img/buku_angkatan/ZN21.jpg">
                  <div class="p-3 pe-md-0">
                    <img
                      class="w-100 border-radius-md shadow-lg"
                      src="https://csui2020.github.io/static/img/buku_angkatan/ZN21.jpg"
                      alt="image"
                    >
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0">I Made Indra Mahaarta </h5>
                  <a href="https://github.com/indramahaarta/temenin-isoman">
                    <h6 class="text-info">Developer
                      <i class="fab fa-github opacity-8 fa-lg"></i>
                    </h6>
                  </a>
                  <p class="mb-0">Creator of Deteksi Mandiri Module</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-4 z-index-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a href="https://csui2020.github.io/static/img/buku_angkatan/KH24.jpg">
                  <div class="p-3 pe-md-0">
                    <img
                      class="w-100 border-radius-md shadow-lg"
                      src="https://csui2020.github.io/static/img/buku_angkatan/KH24.jpg"
                      alt="image"
                    >
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0">Immanuel Gerald Ronaldo Nadeak</h5>
                  <a href="https://github.com/immanuelnadeak/temenin-isoman">
                    <h6 class="text-info">Developer
                      <i class="fab fa-github opacity-8 fa-lg"></i>
                    </h6>
                  </a>
                  <p class="mb-0">Creator of Emergency Contacs Module</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-lg-4 mt-5 z-index-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a href="https://csui2020.github.io/static/img/buku_angkatan/ES29.jpg">
                  <div class="p-3 pe-md-0">
                    <img
                      class="w-100 border-radius-md shadow-lg"
                      src="https://csui2020.github.io/static/img/buku_angkatan/ES29.jpg"
                      alt="image"
                    >
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0">Marcellino Chris O'Vara </h5>
                  <a href="https://github.com/MarcellinoCO/temenin-isoman">
                    <h6 class="text-info">Developer
                      <i class="fab fa-github opacity-8 fa-lg"></i>
                    </h6>
                  </a>
                  <p class="mb-0">Creator of Checklist Module</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-4 z-index-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a href="https://csui2020.github.io/static/img/buku_angkatan/GB32.jpg">
                  <div class="p-3 pe-md-0">
                    <img
                      class="w-100 border-radius-md shadow-lg"
                      src="https://csui2020.github.io/static/img/buku_angkatan/GB32.jpg"
                      alt="image"
                    >
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0">Muhammad Agil Ghifari</h5>
                  <a href="https://github.com/agilghif/temenin-isoman">
                    <h6 class="text-info">Developer
                      <i class="fab fa-github opacity-8 fa-lg"></i>
                    </h6>
                  </a>
                  <p class="mb-0">Creator of Info Bed Capacity Module</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-lg-4 mt-5 z-index-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a
                  href="https://csui2020.github.io/static/img/buku_angkatan/SR50.jpg"">
                    <div class="
                  p-3
                  pe-md-0"
                >
                  <img
                    class="w-100 border-radius-md shadow-lg"
                    src="https://csui2020.github.io/static/img/buku_angkatan/SR50.jpg"
                    alt="image"
                  >
              </div>
              </a>
            </div>
            <div class="col-lg-8 col-md-6 col-12 my-auto">
              <div class="card-body ps-lg-0">
                <h5 class="mb-0">Sabyna Maharani</h5>
                <a href="https://github.com/sabynn/temenin-isoman">
                  <h6 class="text-info">Developer
                    <i class="fab fa-github opacity-8 fa-lg"></i>
                  </h6>
                </a>
                <p class="mb-0">Creator of Tips And Tricks Module</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-lg-6 col-12">
        <div class="card card-profile mt-4 z-index-2">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-n5">
              <a href="https://csui2020.github.io/static/img/buku_angkatan/FH50.jpg">
                <div class="p-3 pe-md-0">
                  <img
                    class="w-100 border-radius-md shadow-lg"
                    src="https://csui2020.github.io/static/img/buku_angkatan/FH50.jpg"
                    alt="image"
                  >
                </div>
              </a>
            </div>
            <div class="col-lg-8 col-md-6 col-12 my-auto">
              <div class="card-body ps-lg-0">
                <h5 class="mb-0">Stephanus Dario</h5>
                <a href="https://github.com/stephanusdario/temenin-isoman">
                  <h6 class="text-info">Developer
                    <i class="fab fa-github opacity-8 fa-lg"></i>
                  </h6>
                </a>
                <p class="mb-0">Creator of Symptoms and Medicine Module</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
{% endblock content %}